* {
    box-sizing: border-box;
    
}

.title {
    position: absolute;
    width: 412px;
    height: 41px;
    left: 70px;
    top: 218px;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 31.25px;
    line-height: 37px;
    text-align: center;

    color: #293264;
}

.credits {
    position: absolute;
    width: 318px;
    height: 19px;
    left: 117px;
    top: 266px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #293264;
}

.startButton {
    position: absolute;
    width: 193px;
    height: 52px;
    left: 179px;
    top: 314px;

    background: #4D5B9E;
    border-radius: 15px;
    color: white;
}

.quizPage {
    display:flex;
    flex-grow: 4;
}

.question__question {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    top: 30px;
    left: 40px;
      
    color: #293264;
}

.question__buttons {
    display:inline-block;
}

button.notHeld {
    margin-inline: 5px;
    padding: 6px 14px;
    border: 1px solid #293264;
    border-radius: 8px;
    color: #293264;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 30px;
    left: 40px;
    flex-direction: row;
    font-size: 10.24px;
}

button.held {
    margin-inline: 5px;
    padding: 6px 14px;
    border: 1px solid #293264;
    border-radius: 8px;
    background-color: #D6DBF5;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 30px;
    left: 40px;
    flex-direction: row;
    font-size: 10.24px;
}

.checkedAndCorrect {
    margin-inline: 5px;
    padding: 6px 14px;
    border: 1px solid #0c9b0e;
    border-radius: 8px;
    background-color: #0ceb2d;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 30px;
    left: 40px;
    flex-direction: row;
    font-size: 10.24px;
}


.checkedAndIncorrect {
    margin-inline: 5px;
    padding: 6px 14px;
    border: 1px solid #293264;
    border-radius: 8px;
    background-color: #e50707;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 30px;
    left: 40px;
    flex-direction: row;
    font-size: 10.24px;
}


.checkButton {
    display:inline-block;
    margin-top: 16px;

    margin-inline: 5px;
    padding: 6px 14px;
    border: 1px solid #293264;
    border-radius: 8px;
    color: #293264;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 30px;
    left: 40px;
    flex-direction: row;
    font-size: 20.24px;
}

.correctCounter {
    position: relative;
    width: 262px;
    height: 35px;

    color: #293264;
    top: -10px;
    left: 350px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20.8px;
    line-height: 15px;
    text-align: center;

    color: #293264;
}

.unclickedAndCorrect {
    margin-inline: 5px;
    padding: 6px 14px;
    border: 1px solid #293264;
    border-radius: 8px;
    background-color: #e0f7e0;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 30px;
    left: 40px;
    flex-direction: row;
    font-size: 10.24px;
}

.replayButton {
    display:inline-block;
    margin-top: 16px;
    margin-inline: 5px;
    padding: 6px 14px;
    border: 1px solid #293264;
    border-radius: 8px;
    color: #293264;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;

    top: -86px;
    left: 220px;
    flex-direction: row;
    font-size: 20.24px;
}
